asgiref==3.7.2
certifi==2024.2.2
charset-normalizer==3.3.2
crispy-bootstrap5==2023.10
Django==4.2.14
django-crispy-forms==2.1
django-environ==0.11.2
django-recaptcha==4.0.0
django-rosetta==0.10.0
idna==3.6
polib==1.2.0
requests==2.32.3
sqlparse==0.4.4
urllib3==2.2.0
whitenoise==6.6.0