{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- apps -->
    <div class="bloc none" style="background-image: url({% static 'img/pro.jpg' %})" id="apps">
        <div class="container bloc-xl bloc-lg-lg">
            <div class="row voffset-clear-xs">
                <div class="col-lg-6 col-md-4 offset-md-1 offset-lg-0">
                    <div class="card sugcard">
                        <div class="card-header bgc-blue-ryb">
                            <h3 class="mg-clear text-center tc-white">
                                Standard
                            </h3>
                        </div>
                        <div class="card-body bgc-outer-space">
                            <ul class="list-unstyled list-style">
                                <li>
                                    <h4 class="text-center h4-style mg-clear">
                                        <br/>Site internet ou intranet
                                    </h4>
                                    <p>
                                        <br>
                                    </p>
                                </li>
                                <li>
                                    <h4 class="text-center h4-style">
                                        Applications diverses sur mesure<br>
                                    </h4>
                                    <p>
                                        <br>
                                    </p>
                                </li>
                                <li>
                                    <h4 class="text-center h4-style">
                                        Base de données MariaDB, MySQL, Postgres,...
                                    </h4>
                                    <p>
                                        <br>
                                    </p>
                                </li>
                                <li>
                                    <h4 class="text-lg-center h4-style mx-auto d-block">
                                        100% Python, sur mesure
                                    </h4>
                                    <p class="text-center">
                                        <br>
                                    </p>
                                </li>
                                <li>
                                    <h4 class="text-lg-center mx-auto d-block h4-style">
                                        Assistance
                                    </h4>
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'contact' %}" class="btn btn-lg btn-block btn-blue-ryb btn-rd">Sur devis</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4 offset-md-1 offset-lg-0">
                    <div class="card sugcard">
                        <div class="card-header bgc-ou-crimson-red">
                            <h3 class="mg-clear text-center tc-white">
                                Pro
                            </h3>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled list-style">
                                <li>
                                    <h4 class="text-center h4-style mg-clear">
                                        <br/><strong>Standard</strong>
                                    </h4>
                                    <p>
                                        <br>
                                    </p>
                                </li>
                                <li>
                                    <h4 class="text-center h4-style">
                                        Rest API, automatisation de données<br>
                                    </h4>
                                    <p>
                                        <br>
                                    </p>
                                </li>
                                <li>
                                    <h4 class="text-center h4-style">
                                        Performances et sécurité optimales
                                    </h4>
                                    <p>
                                        <br>
                                    </p>
                                </li>
                                <li>
                                    <h4 class="text-lg-center h4-style mx-auto d-block">
                                        toutes options
                                    </h4>
                                    <p class="text-center">
                                        <br>
                                    </p>
                                </li>
                                <li>
                                    <h4 class="text-lg-center mx-auto d-block h4-style">
                                        Assistance prioritaire
                                    </h4>
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'contact' %}" class="btn btn-lg btn-block btn-blue-ryb btn-rd">Sur devis</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- apps END -->
{% endblock %}