<!doctype html>
{% load static %}
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}TView sites web{% endblock %}</title>
        <meta name="description" content="Création de sites internet et applications web sécurisés, fiables et performants">
        <meta name="keywords"
			content="blog, chat, portfolio, e-shop, e-commerce, boutique, ligne, vitrine, perso, bot, sur mesure">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        <!--<link rel="canonical" href="https://tview.fr/">-->
        <meta name="theme-color" content="#110344"/>
        <meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="Tview">
		<meta name="twitter:description" content="Création de sites & applications web">
		<meta name="twitter:image" content="url({% static 'img/card.jpg' %})">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="TView">
		<meta property="og:title" content="Tview">
		<meta property="og:description" content="Création de sites & applications web">
		<meta property="og:url" content="https://tview.fr/">
		<meta property="og:image" content="{% static '/img/card.jpg' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
        <link rel="preload" href="{% static 'fonts/lato-v17-latin-regular.woff2' %}" as='font' type='font/woff2' crossorigin='anonymous'>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}">

    </head>

    <body class="mob-disable-anim ">
		<!-- Main container -->
		<div class="page-container">

			<!-- bloc-0 -->
			<div class="bloc none l-bloc" id="bloc-0" style="background-image: url({% static 'img/backhead.webp' %});">
				<div class="container bloc-sm bloc-md-lg">
					<div class="row">
						<div class="col-lg-12 text-sm-start text-lg-start">
							<h1 class="text-lg-center h1-style mx-auto d-block text-center mg-md">
								TView
							</h1>
							<h2 class="mg-md h2-style text-center text-lg-center mx-auto d-block">
								<span>Création de sites & applications web</span>
                            </h2><img src="{% static "img/tview_logo.jpg" %}"
								class="img-fluid img-protected rounded-circle mx-auto d-block img-style"
                                                                  alt="tview_logo">
						</div>
					</div>
				</div>
			</div>
             <!-- messages -->
            {% include 'messages.html' %}
            {% include 'navbar.html' %}
        <!-- block -->
             {% block content %}
             {% endblock content %}

            {% include 'button_nav.html' %}
    <!-- footer -->
	<
        <div class="bloc none bg-b-edge bgc-outer-space full-width-bloc d-bloc" style="background-image: url({% static 'img/backhead.webp' %});" id="footer">
            <div class="container bloc-md bloc-sm-lg">
                <div class="row voffset align-items-center">
                    <div class="col-sm-4 col-lg-2 text-start offset-0 col-md-3 col-4 offset-sm-1 offset-md-2 offset-lg-4 align-self-end" id="backend">
                        <h5 class="text-center text-sm-start mg-md footer-title float-lg-none">
                            Backend
                        </h5><a class="a-btn footer-link text-lg-left text-left a-block" rel="nofollow noopener noreferrer" target="_blank">Python</a><span class="a-btn a-block footer-link text-lg-left">Django<br></span><span class="a-btn footer-link a-block text-center">SQL/No</span>
                    </div>
                    <div class="col-sm-4 col-lg-2 align-self-end offset-sm-0 col-md-3 col-4 offset--1" id="front">
                        <h5 class="mg-md text-center text-sm-start footer-title">
                            Frontend
                        </h5><a href="" data-active-page="active" class="a-btn footer-link text-center a-block">HTML</a><span class="a-btn a-block footer-link text-center">CSS</span><span class="a-btn a-block footer-link text-center">JS</span>
                    </div>
                    <div class="align-self-end col-lg-2 col-md-3 col-sm-3 col-3" id="confs">
                        <h5 class="mg-md text-center text-sm-start footer-title">
                            Config
                        </h5><a href="" data-active-page="active" class="a-btn a-block footer-link text-center">Docker</a><span class="a-btn a-block footer-link text-center">Apache</span><span class="a-btn a-block footer-link text-center">Nginx</span>
                    </div>
                </div>
            </div>
        </div>
<!-- footer END -->

        <!-- footer END -->

		<!-- Main container END -->
        </div>
		<!-- Additional JS -->

        <script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
        <script defer src="{% static 'js/blocs.min.js' %}"></script>
		<script src="{% static 'js/scrollFX.js' %}"></script>
        <script defer src="{% static 'js/card-designer.js' %}"></script>"
		<!-- Additional JS END -->

	</body>
</html>