<!doctype html>
{% load i18n %}
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% trans 'TView websites' %}{% endblock %}</title>
    <meta name="description"
          content="{% trans 'Creation of secure, reliable and high-performance websites and web applications' %}">
    <meta name="keywords"
          content="blog, chat, portfolio, shop, e-commerce, boutique, site, ligne, vitrine, perso, sur mesure, apps, web3, bot, telegram">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="theme-color" content="#110344">
    <meta name="robots" content="max-image-preview:standard">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Tview">
    <meta name="twitter:description" content="{% trans 'Creation of websites and web applications' %}">
    <meta name="twitter:image" content="https://viewcdn.sirv.com/TView_card.jpg">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="TView">
    <meta property="og:title" content="TView">
    <meta property="og:description" content="{% trans 'Creation of websites and web applications' %}">
    <meta property="og:url" content="https://tview.fr/">
    <meta property="og:image" content="https://viewcdn.sirv.com/TView_card.jpg">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="preload" href="{% static 'fonts/lato-v17-latin-regular.woff2' %}" as="font" type="font/woff2"
          crossorigin>
    <link rel="preload" href="{% static 'fonts/inter-v3-latin-regular.woff2' %}" as="font" type="font/woff2"
          crossorigin>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" media="print" onload="this.media='all'">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}">
</head>
<body class="mob-disable-anim">
<!-- Main container -->
<div class="page-container">
    <header>
        <div class="bloc none l-bloc" id="head">
            <div class="video-bg-container">
                <video class="bloc-video" preload="auto" loop="loop" muted="muted" playsinline="playsinline"
                       autoplay="autoplay">
                    <source src="{% static 'vid/tview_waves.mp4' %}" type="video/mp4"/>
                </video>
            </div>
            <div class="container bloc-sm bloc-sm-md bloc-sm-lg">
                <div class="row">
                    <div class="col-12">
                        <h1 class="mb-4 mx-auto text-lg-center h1-style text-center mb-lg-0 mb-md-0 mb-sm-3 mb-3"
                            id="title">
                            TView
                        </h1>
                    </div>
                    <div class="col-12">
                        <h2 class="h2-style text-lg-center text-center mx-auto mt-md-3 tc-5322 h2-xs mt-lg-3">
                            {% trans 'Sites and applications web creation' %}
                        </h2>
                    </div>
                    <div class="col text-center col-12 mt-3">
                        <img src="{% static 'img/tview_logo.jpg' %}"
                             class="img-fluid img-protected rounded-circle img-style mx-auto d block"
                             width="90" height="90" alt="logo" id="logo"/>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- bloc-nav -->
    <div class="bloc none bg-center l-bloc" id="bloc-nav">
        <div class="container b-divider bloc-no-padding bloc-no-padding-lg">
            <div class="row mt-lg-1">
                <div class="col-lg-6 col-md-6 col-sm-6 text-start offset-sm-3 col-6 offset-3">
                    <nav class="navbar navbar-light row flex-column pt-0 pb-0 navbar-expand-md">
                        <div class="container-fluid flex-column">
                            <button id="nav-toggle" type="button" class="ui-navbar-toggler navbar-toggler border-0 p-0"
                                    aria-expanded="false" aria-label="Toggle navigation" data-bs-toggle="collapse"
                                    data-bs-target=".navbar-25791">
                            <span class="navbar-toggler-icon"><svg height="32" viewBox="0 0 32 32" width="32">
                              <path class="svg-menu-icon menu-icon-stroke" d="m2 9h28m-28 7h28m-28 7h28"
                                    auto-style-class="menu-icon-stroke" data-custom-classes=" menu-icon-stroke"></path></svg>
                            </span>
                            </button>
                            <div class="collapse navbar-collapse navbar-19859 navbar-25791">
                                <ul class="site-navigation nav navbar-nav mx-auto justify-content-center">
                                    <li class="nav-item">
                                        <a href="{% url 'pages:home' %}"
                                           data-active-page="active" class="nav-link ltc-5322">TView</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'pages:prod' %}" data-active-page="active"
                                           class="nav-link ltc-5322">Sites</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'pages:infos' %}" data-active-page="active"
                                           class="nav-link ltc-5322">Infos</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'sendmail:sendmail' %}" data-active-page="active"
                                           class="nav-link ltc-5322">Contact</a>
                                    </li>
                                    <!--<li class="nav-item"
                                      </li> -->
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- bloc-nav -->}
    <!-- block -->
    <main>
    <style>
.languages{
text-align:right;
    position: absolute;
    top: 0;
    right: 0;
    margin: 15em 2em 0 0;
}
li{
display:inline;
text-decoration:none;
padding:5px;
}
a{
text-decoration:none;
color:#DDAF94;
}
a:hover{
color:#4F4846;
}
.active{
background-color: #264561;
padding:0;
text-align:right;
border-radius:5px;
}
</style>
        {% block content %}
        {% endblock content %}
    </main>
    <footer id="footer">
        <div class=" bg-tr-edge full-width-bloc d-bloc"
             style="background-image: url({% static 'img/backhead.webp' %});">
            <div class="container">
                <div class="row voffset g-0">
                    <div class="col-sm-4 col-lg-2 text-start offset-0 col-md-3 col-4 offset-sm-1 offset-md-2 offset-lg-4 align-self-end"
                         id="backend">
                        <h5 class="text-center text-sm-start mg-md footer-title float-lg-none text-lg-start">
                            Backend
                        </h5><a href="https://python.org" class="a-btn footer-link text-lg-left text-left a-block"
                                rel="nofollow noopener noreferrer" target="_blank">Python</a><a
                            href="https://www.djangoproject.com/start/overview/"
                            class="a-btn a-block footer-link text-lg-left" rel="nofollow noopener noreferrer"
                            target="_blank">Django<br></a><a
                            href="https://www.geeksforgeeks.org/difference-between-sql-and-nosql/"
                            class="a-btn footer-link a-block text-lg-left link-style" rel="nofollow noopener noreferrer"
                            target="_blank">SQL/No</a>
                    </div>
                    <div class="col-sm-4 col-lg-2 align-self-end offset-sm-0 col-md-3 col-4 offset--1" id="front">
                        <h5 class="mg-md text-center text-sm-start footer-title float-lg-none text-lg-start">
                            Frontend
                        </h5><a href="https://wikipedia.org/wiki/HTML" class="a-btn footer-link text-lg-left a-block"
                                rel="nofollow noopener noreferrer" target="_blank">HTML</a><a
                            href="https://wikipedia.org/wiki/CSS" class="a-btn a-block footer-link text-lg-left">CSS</a><a
                            href="https://wikipedia.org/wiki/JavaScript" class="a-btn a-block footer-link text-lg-left">JS</a>
                    </div>
                    <div class="align-self-end col-lg-2 col-md-3 col-sm-3 col-3" id="confs">
                        <h5 class="mg-md text-center text-sm-start float-lg-none footer-title text-lg-start">
                            Config
                        </h5><a href="https://httpd.apache.org/" class="a-btn a-block footer-link text-center"
                                rel="nofollow noopener noreferrer" target="_blank">Apache</a><a
                            href="https://www.docker.com/" class="a-btn a-block footer-link text-lg-left text-left"
                            rel="nofollow noopener noreferrer" target="_blank">Docker</a><a
                            href="https://www.nginx.com/" class="a-btn a-block footer-link text-lg-center"
                            rel="nofollow noopener noreferrer" target="_blank">Nginx</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer END -->
    <div class="bloc l-bloc" id="flexy">
        <div class="container bloc-no-padding">
            <div class="row">
                <div class="col text-start">
                    <div>
                        <div id="flexy-foot-2" class="flexy-foot" data-flexy-behaviour="classic"
                             data-flexy-target="smart"
                             data-flexy-target-id="" data-flexy-zindex="-2" data-flexy-vh-percentage="80"
                             data-flexy-focus="deactive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer END -->

<!-- Main container END -->
<!-- Additional JS -->
<script defer src="{% static 'js/jquery.min.js' %}"></script>
<script defer src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script defer src="{% static 'js/blocs.min.js' %}"></script>
<script defer src="{% static 'js/lazysizes.min.js' %}"></script>
<script defer src="{% static 'js/bb-flexy-foot-2.js' %}"></script>
<script defer src="{% static 'js/card-designer.js' %}"></script>

<!-- Additional JS END -->

</body>
</html>
