{% load static %}
        <div class="bloc none fixbg d-sm-flex d-none l-bloc" id="bloc-2"
            style="background-image: url({% static 'img/devices.jpg' %});">
            <div class="container bloc-no-padding-lg bloc-md">
                <div class="row voffset-clear-xs voffset-md g-0">
                    <div class="col-12 offset-lg-0 col-lg-12">
                        <div id="carousel-47952" class="carousel slide carousel-fade animated vanishIn"
                            data-bs-ride="carousel" data-bs-interval="3000" data-appear-anim-style="vanishIn">
                            <ul class="carousel-indicators hide-indicators">
                                <li class="active" data-bs-target="#carousel-25764" data-bs-slide-to="0"
                                    data-target="#carousel-47952">
                                </li>
                                <li data-bs-target="#carousel-25764" data-bs-slide-to="1"
                                    data-target="#carousel-47952">
                                </li>
                                <li data-bs-target="#carousel-25764" data-bs-slide-to="2"
                                    data-target="#carousel-47952">
                                </li>
                            </ul>
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item img-protected active">
                                    <img src="{% static 'img/siteperso.jpg' %}" class="d-inline-block w-100" alt="slide 1"/>
                                    <div class="carousel-caption carousel-caption-center">
                                        <h3 class="mg-md caroutext text-lg-start h3-bloc-2-style">
                                            Votre site perso dont vous êtes le propriétaire
                                        </h3>
                                    </div>
                                </div>
                                <div class="carousel-item img-protected">
                                    <img src="{% static 'img/site_pro1200.jpg' %}" class="d-inline-block w-100" alt="slide 2"/>
                                    <div class="carousel-caption carousel-caption-center">
                                        <h3 class="mg-md caroutext">
                                            Des sites pro, sur mesure, fiables et sécurisés
                                        </h3>
                                    </div>
                                </div>
                                <div class="carousel-item img-protected">
                                    <img src="{% static 'img/humanitarian.jpg' %}" class="d-inline-block w-100" alt="slide 3"/>
                                    <div class="carousel-caption carousel-caption-center">
                                        <h3 class="mg-md caroutext">
                                            Tarif jusqu&rsquo;à -50% pour un projet humanitaire ou écologique
                                        </h3>
                                    </div>
                                </div>
                            </div><a class="carousel-nav-controls carousel-control-prev" href="#carousel-47952"
                                role="button" data-bs-slide="prev"><svg width="26" height="26" viewBox="0 0 32 32">
                                    <path class="carousel-nav-icon carousel-prev-icon" d="M22,2L9,16,22,30"></path>
                                </svg><span class="visually-hidden">Previous</span></a><a
                                class="carousel-nav-controls carousel-control-next" href="#carousel-47952"
                                role="button" data-bs-slide="next"><svg width="26" height="26" viewBox="0 0 32 32">
                                    <path class="carousel-nav-icon carousel-next-icon" d="M10.344,2l13,14-13,14">
                                    </path>
                                </svg><span class="visually-hidden">Next</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bloc fixbg l-bloc" id="bloc-3" style="background-image: url({% static 'img/devices.jpg' %});">
            <div class="container bloc-sm-lg">
                <div class="row">
                    <div class="col">
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>