{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- contact -->
    <div class="bloc l-bloc none full-width-bloc" id="bloc-15">
				<div class="bloc-shape-divider bloc-divider-flip-y bloc-divider-top">
					<svg class="svg-divider bloc-divider-t-bloc-15-fill" fill-rule="evenodd" preserveAspectRatio="none"
						viewBox="0 0 1000 250">
						<path d="M0,125H1000V250H0V125Z"></path>
					</svg>
				</div>
				<div class="bloc-shape-divider bloc-divider-bottom bloc-divider-flip-x">
					<svg class="svg-divider bloc-divider-b-bloc-15-style" fill-rule="evenodd" preserveAspectRatio="none"
						viewBox="0 0 1000 250">
						<path d="M0,125H1000V250H0V125Z"></path>
					</svg>
				</div>
        <div class="container bloc-lg bloc-lg-lg">
            <div class="row">
                <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <form
                          data-clean-url-used="true" id="form_1" data-form-type="blocs-form" novalidate
                          data-success-msg="Message envoyé!"
                          data-fail-msg="Désolé, une erreur serveur est survenue, le problème vient d'être signalé">
                        <div class="form-group mb-3 text-lg-left">
                            <label>
                                Nom
                            </label>
                            <input id="name" class="form-control" maxlength="100"/>
                        </div>
                        <div class="form-group mb-3">
                            <label>
                                Email
                            </label>
                            <input id="email" class="form-control" type="email"
                                   data-error-validation-msg="email..." required maxlength="100"
                                   data-validation-required-message="Email non valide"/>
                        </div>
                        <div class="form-group">
                            <label>
                                Sujet
                            </label>
                        </div>
                        <select class="form-control option-select-margin-bottom" id="select_2376">
                            <option value="0">
                                Choisissez...
                            </option>
                            <option value="1">
                                Renseignements site perso
                            </option>
                            <option value="2">
                                Renseignements site pro
                            </option>
                            <option value="3">
                                Question technique
                            </option>
                            <option value="4">
                                Autre
                            </option>
                        </select>
                        <div class="form-group mt-3">
                            <label>
                                Message
                            </label>
                        </div>
                        <textarea id="message" class="form-control" rows="6" cols="40" required
                                  data-validation-required-message="Votre message est vide"></textarea>
                        <div class="form-check checkbox-margin-top">
                            <input class="form-check-input" type="checkbox" id="input_1999"
                                   data-validation-minchecked-minchecked="1"
                                   data-validation-minchecked-message="Veuillez confirmer avant d'envoyer, merci"
                                   name="input_1999"/>
                            <label class="form-check-label">
                                En cochant cette case, vous acceptez que vos informations soient temporairement
                                    conservées de manière privée, dans le but de donner suite à cet échange.
                            </label>
                        </div>
                        <div class="text-center">
                            <button class="mt-2 bloc-button btn btn-block btn-blue-ryb animated zoomIn animDelay04"
                                    type="submit" data-appear-anim-style="zoomIn">
                                Envoyer
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- contact END -->
{% endblock %}