{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block title %}TView | Contact{% endblock %}
{% block content %}
    <!-- contact -->
    <div class="bloc l-bloc none full-width-bloc" id="bloc-15">
        <div class="bloc-shape-divider bloc-divider-flip-y bloc-divider-top">
            <svg class="svg-divider bloc-divider-t-bloc-15-fill" fill-rule="evenodd" preserveAspectRatio="none"
                 viewBox="0 0 1000 250">
                <path d="M0,125H1000V250H0V125Z"></path>
            </svg>
        </div>
        <div class="bloc-shape-divider bloc-divider-bottom bloc-divider-flip-x">
            <svg class="svg-divider bloc-divider-b-bloc-15-style" fill-rule="evenodd" preserveAspectRatio="none"
                 viewBox="0 0 1000 250">
                <path d="M0,125H1000V250H0V125Z"></path>
            </svg>
        </div>
        <div class="mt-5 col-6 offset-3 form-borders">
            <form method="post">
                {% csrf_token %}
                    {{ form.name|as_crispy_field }}
                    {{ form.email|as_crispy_field }}
                    {{ form.subject|as_crispy_field }}
                    {{ form.message|as_crispy_field }}
                    {{ form.checkbox|as_crispy_field }}

                <button type="submit" class="mt-2 btn btn-phthalo-blue mb-5 w-100 animated zoomIn"
                        data-appear-anim-style="zoomIn">
                    Envoyer
                </button>
            </form>
        </div>
    </div>
        <!-- contact END -->
{% endblock %}