{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_filters %}
{% block title %}TView | Contact{% endblock title %}
{% block content %}
    <!-- contact -->
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert" style="margin: 0;" >
          <strong>{{ message }}</strong>
        </div>
    {% endfor %}
{% endif %}
    
    <div class="bloc-shape-divider bloc-divider-flip-y bloc-divider-flip-x">
        <svg class="svg-divider bloc-divider-t-bloc-15-fill" fill-rule="evenodd" preserveAspectRatio="none"
             viewBox="0 0 1000 250">
            <path d="M0,125H1000V250H0V125Z"></path>
        </svg>
    </div>
    <div class="container bloc-md">
        <div class="row">
            <div class="order-lg-0 col-lg-6 offset-lg-3 text-lg-center col-sm-12 col-md-12" id="da">
                <img src="{% static 'img/sphere.gif' %}"
                     class="img-fluid img-protected rounded-circle none mx-auto d-block animDelay1 animated floating animSpeed10 animLoopInfinite"
                     width=90 height=70  alt="sphere" data-appear-anim-style="floating">
            </div>
            <div class="row mt-5">
                <div class="col-10 offset-1">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="mt-2 btn btn-c-5984 btn-lg mb-5 w-100 animated zoomIn"
                                data-appear-anim-style="zoomIn">
                            {% trans 'Submit' %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- contact END -->
{% endblock %}
