{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'carousel.html' %}
    <!-- args0 -->
    <div class="bloc bgc-outer-space tc-pastel-gray d-bloc" id="args0">
        <div class="container bloc-lg-lg bloc-md">
            <div class="row scroll-fx-up-out scroll-fx-up-in">
                <div class="col-md-4 col-lg-4 col-12 align-self-end">
                    <h4 class="text-lg-start mg-clear-md tc-white args0 mg-sm mx-auto d-block">
                        Gérez vos contenus en toute simplicité
                    </h4>
                    <p class="mg-md mx-auto d-block">
                        Sur site via une interface administrateur
                    </p>
                </div>
                <div class="col-md-4 col-12 align-self-center">
                    <h4 class="text-md-start tc-white args0 mg-sm mx-auto d-block">
                        Evolution en fonction de vos besoins
                    </h4>
                    <p class="animDelay06 mg-md mx-auto d-block p-args0-style">
                        D'une page vers un environnement complet
                    </p>
                </div>
                <div class="col-md-4 col-12 align-self-center">
                    <h4 class="tc-white args0 mx-auto d-block mg-sm">
                        Formules 'pro' pour projets exigeants
                    </h4>
                    <p class="mg-md mx-auto d-block">
                        100% sur mesure, code natif en python, versatile
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- args0 END -->

    <!-- divid7 -->
    <div class="bloc none fixbg d-sm-flex d-none l-bloc" id="divid7" style="background-image: url({% static 'img/devices.jpg' %});">
        <div class="container bloc-sm-lg bloc-sm">
            <div class="row">
                <div class="col">
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- divid7 END -->

    <!-- bloc-media -->
    <div class="bloc none tc-white bgc-outer-space d-bloc bloc-bg-texture texture-fabric" id="bloc-media">
        <div class="bloc-shape-divider bloc-divider-top bloc-divider-flip-y">
            <svg class="svg-divider bloc-divider-t-fill" fill-rule="evenodd" preserveAspectRatio="none"
                viewBox="0 0 1000 250">
                <path d="M0,125H1000V250H0V125Z"></path>
            </svg>
        </div>
        <div class="container bloc-md bloc-md-lg bloc-md-sm">
            <div class="row voffset-md none animated fadeInDown animSpeedLazy animDelay06"
                data-appear-anim-style="fadeInDown">
                <div class="col-lg-4 none col-md-8 offset-md-2 offset-lg-0">
                    <img src="{% static 'img/responsive.jpg' %}"
                        class="img-fluid img-protected img-responsi-style mx-auto d-block mg-md none img-rd-md"
                        alt="responsive" />
                    <h3 class="mg-sm mx-auto d-block args1 text-lg-start">
                        Performance
                    </h3>
                    <p class="mg-lg float-lg-none">
                        Tous les sites sont construits de manière à obtenir un affichage optimal quel que soit
                        le support.
                    </p>
                </div>
                <div class="col-lg-4 animSpeedLazy none col-md-8 offset-md-2 offset-lg-0">
                    <img src="{% static 'img/security.jpg' %}"
                        class="img-fluid img-protected img-securi-style mx-auto d-block mg-md img-rd-md none"
                        alt="security" />
                    <h3 class="mg-sm mx-auto d-block args1 text-lg-start">
                        Sécurité
                    </h3>
                    <p class="mg-lg float-lg-none">
                        Les sites sont hébergés de façon sécurisée et sans partage de ressources.
                        <a class="ltc-azure float-lg-none" href="{% url 'infos' %}"
                            data-active-page="active">En savoir plus</a>
                    </p>
                </div>
                <div class="none col-md-8 offset-md-2 offset-lg-0 col-lg-4">
                    <img src="{% static 'img/customizable.jpg' %}"
                        class="img-fluid img-protected img-10-style mx-auto d-block mg-md none img-rd img-rd-md"
                        alt="responsive" />
                    <h3 class="text-lg-start args1 float-lg-none mg-sm text-start">
                        Assistance
                    </h3>
                    <p class="p-style text-lg-start float-lg-none mg-lg">
                        Vous bénéficiez d&rsquo;une assistance après achat quelle que soit la formule. <a
                            class="ltc-azure" href="{% url 'infos' %}" data-active-page="active">Voir les modalités</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- bloc-6 -->
    <div class="bloc none bgc-oxford-blue" id="bloc-6">
        <div class="bloc-shape-divider bloc-divider-bottom">
            <svg class="svg-divider bloc-divider-b-bloc-6-fill" fill-rule="evenodd" preserveAspectRatio="none"
                viewBox="0 0 1000 250">
                <path d="M0,125H1000V250H0V125Z"></path>
            </svg>
        </div>
        <div class="container bloc-lg bloc-lg-lg">
            <div class="row animated fadeIn animDelay04 animSpeedLazy" data-appear-anim-style="fadeIn">
                <div
                    class="text-center offset-md-2 col-md-8 offset-sm-2 col-sm-8 offset-lg-0 col-lg-4 text-md-start">
                    <div>
                        <div class="cd-container clearfix" data-ui="0" data-center-card="true"
                            data-align-caption="center" data-content-height="540" data-min-height="400"
                            data-max-width="750" data-nav-position="hide" data-nav-style="fade-bullets"
                            data-button-shape="capsule-outline" data-caption-position="middle"
                            data-caption-anchor="white" data-pad-value="true" data-gradient-color="None"
                            data-background-color="transparent" data-visibility="1" data-gradient-opacity=""
                            data-radius-value="2" data-hover-mode="inactive" data-hover-style="apple-snow"
                            data-transition-status="default" data-has-title="true" data-has-button="false"
                            data-has-caption="false" data-caption-height="60"
                            data-caption-background="transparent" data-tagline-margin="20"
                            data-tagline-color="#FEFFFF" data-title-spacing="10" data-title-color="#FEFFFF"
                            data-title-margin="20" data-title-background="transparent" data-desc-color="#FEFFFF"
                            data-button-color="#FEFFFF" data-button-label="" data-label-dark="0"
                            data-height-short="1" data-hover-shadow="false" data-hover-zoom="None"
                            data-shadow-size="Large" data-title-fx="Very Subtle" data-typeface="Helvetica"
                            data-fpo-index="0" data-fpo-lock="0" data-rule="0" data-rule-width="50"
                            data-rule-spacing="10" data-rule-weight="1" data-rule-color="#FEFFFF"
                            data-border-width="0" data-border-color="#555555" data-progress-index="0"
                            data-progress-fill="transparent" data-title-size="40" data-line-height="40"
                            data-responsive-title="0" data-med-title="level 1" data-sml-title="level 1"
                            data-title-width="100%" data-disable-hover="None" data-remove-button="false"
                            data-card-click="1" data-caption-trim="true" data-target="_self"
                            data-url="{% url 'perso' %}" data-scroll-speed="1000" data-visiblility="1">
                            <div class="cd-shell">
                                <div class="card-designer lg">
                                    <div class="cd-wrapper">


                                        <div class="cd-swiper-container swiper1 static-pos">
                                            <div class="cd-swiper-wrapper">
                                                <div class="cd-swiper-slide" data-swiper-autoplay="6000">
                                                    <img class="custom-bric-img-item cover preview center"
                                                        src="{% static 'img/persosite.jpg' %}" width="100%" height="400"
                                                        data-kb-effect="Pan Right" data-filter="0" alt="perso">
                                                </div>
                                            </div>
                                            <div class="swiper-pagination swiper-pagination1"></div>
                                        </div>
                                        <div class="cd-data" style="background-color: transparent;">
                                            <div class="cd-content" style="background-color: transparent;">


                                                <h2 class="cd-title"
                                                    style="font-size: 40px; margin-left: 0px; margin-bottom: 20px; font-family: Lato-Regular,serif;">
                                                    <a style="color: rgb(255, 255, 255); background-color: transparent; line-height: 40px; font-family: Lato-Regular,serif;"
                                                        target="_self" aria-disabled="true"
                                                        href="{%  url 'perso' %}"><span
                                                            style="color: rgb(254, 255, 255);">Perso</span></a>
                                                </h2>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center col-md-8 col-sm-8 offset-sm-2 offset-lg-0 col-lg-4 text-md-start">
                    <div>
                        <div class="cd-container clearfix" data-ui="0" data-center-card="true"
                            data-align-caption="center" data-content-height="540" data-min-height="400"
                            data-max-width="750" data-nav-position="hide" data-nav-style="fade-fraction"
                            data-button-shape="capsule-outline" data-caption-position="middle"
                            data-caption-anchor="white" data-pad-value="true" data-gradient-color="None"
                            data-background-color="transparent" data-visibility="1" data-gradient-opacity=""
                            data-radius-value="2" data-hover-mode="inactive" data-hover-style="apple-snow"
                            data-transition-status="default" data-has-title="true" data-has-button="false"
                            data-has-caption="true" data-caption-height="90"
                            data-caption-background="transparent" data-tagline-margin="20"
                            data-tagline-color="#FEFFFF" data-title-spacing="10" data-title-color="#FEFFFF"
                            data-title-margin="20" data-title-background="transparent" data-desc-color="#FEFFFF"
                            data-button-color="#FEFFFF" data-button-label="" data-label-dark="0"
                            data-height-short="1" data-hover-shadow="false" data-hover-zoom="None"
                            data-shadow-size="Large" data-title-fx="Very Subtle" data-typeface="Helvetica"
                            data-fpo-index="0" data-fpo-lock="0" data-rule="0" data-rule-width="50"
                            data-rule-spacing="10" data-rule-weight="1" data-rule-color="#FEFFFF"
                            data-border-width="0" data-border-color="#555555" data-progress-index="0"
                            data-progress-fill="white" data-title-size="40" data-line-height="40"
                            data-responsive-title="0" data-med-title="level 1" data-sml-title="level 1"
                            data-title-width="100%" data-disable-hover="None" data-remove-button="false"
                            data-card-click="1" data-caption-trim="false" data-target="_self"
                            data-url="{% url 'boutique' %}" data-scroll-speed="1000" data-visiblility="1">
                            <div class="cd-shell">
                                <div class="card-designer lg">
                                    <div class="cd-wrapper">


                                        <div class="cd-swiper-container swiper1 static-pos">
                                            <div class="cd-swiper-wrapper">
                                                <div class="cd-swiper-slide" data-swiper-autoplay="6000">
                                                    <img class="custom-bric-img-item cover preview center"
                                                        src="{% static 'img/e-commerce.jpg' %}" width="100%" height="400"
                                                        data-kb-effect="Pull" data-filter="0" alt="boutique">
                                                </div>
                                            </div>
                                            <div class="swiper-pagination swiper-pagination1"></div>
                                        </div>
                                        <div class="cd-data" style="background-color: transparent;">
                                            <div class="cd-content" style="background-color: transparent;">


                                                <h2 class="cd-title"
                                                    style="font-size: 40px; margin-left: 0px; margin-bottom: 20px; font-family: Lato-Regular;">
                                                    <a style="color: rgb(255, 255, 255); background-color: transparent; line-height: 40px; font-family: Lato-Regular;"
                                                        target="_self" aria-disabled="true"
                                                        href="{% url 'boutique' %}"><span
                                                            style="color: rgb(254, 255, 255);">Boutique</span></a>
                                                </h2>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="text-center col-md-8 offset-md-2 col-sm-8 offset-sm-2 offset-lg-0 col-lg-4 text-md-center">
                    <div>
                        <div class="cd-container clearfix" data-ui="0" data-center-card="true"
                            data-align-caption="center" data-content-height="540" data-min-height="400"
                            data-max-width="750" data-nav-position="hide" data-nav-style="fade-fraction"
                            data-button-shape="capsule-outline" data-caption-position="middle"
                            data-caption-anchor="white" data-pad-value="true" data-gradient-color="None"
                            data-background-color="transparent" data-visibility="1" data-gradient-opacity=""
                            data-radius-value="2" data-hover-mode="inactive" data-hover-style="apple-snow"
                            data-transition-status="default" data-has-title="true" data-has-button="false"
                            data-has-caption="false" data-caption-height="60"
                            data-caption-background="transparent" data-tagline-margin="20"
                            data-tagline-color="#FEFFFF" data-title-spacing="10" data-title-color="#FEFFFF"
                            data-title-margin="20" data-title-background="transparent" data-desc-color="#FEFFFF"
                            data-button-color="#FEFFFF" data-button-label="" data-label-dark="0"
                            data-height-short="1" data-hover-shadow="false" data-hover-zoom="None"
                            data-shadow-size="Large" data-title-fx="Very Subtle" data-typeface="Helvetica"
                            data-fpo-index="0" data-fpo-lock="0" data-rule="0" data-rule-width="50"
                            data-rule-spacing="10" data-rule-weight="1" data-rule-color="#FEFFFF"
                            data-border-width="0" data-border-color="#555555" data-progress-index="0"
                            data-progress-fill="transparent" data-title-size="40" data-line-height="40"
                            data-responsive-title="0" data-med-title="level 1" data-sml-title="level 1"
                            data-title-width="100%" data-disable-hover="None" data-remove-button="false"
                            data-card-click="1" data-caption-trim="true" data-target="_self" data-url="{% url 'pro'%}"
                            data-scroll-speed="1000" data-visiblility="1">
                            <div class="cd-shell">
                                <div class="card-designer lg">
                                    <div class="cd-wrapper">


                                        <div class="cd-swiper-container swiper1 static-pos">
                                            <div class="cd-swiper-wrapper">
                                                <div class="cd-swiper-slide" data-swiper-autoplay="6000">
                                                    <img class="custom-bric-img-item center cover preview"
                                                        src="{% static 'img/pro.jpg' %}" width="100%" height="400"
                                                        data-kb-effect="Pan Left" data-filter="0" alt="pro">
                                                </div>
                                            </div>
                                            <div class="swiper-pagination swiper-pagination1"></div>
                                        </div>
                                        <div class="cd-data" style="background-color: transparent;">
                                            <div class="cd-content" style="background-color: transparent;">


                                                <h2 class="cd-title"
                                                    style="font-size: 40px; margin-left: 0px; margin-bottom: 20px; font-family: Lato-Regular,serif;">
                                                    <a style="color: rgb(255, 255, 255); background-color: transparent; line-height: 40px; font-family: Lato-Regular;"
                                                        target="_self" aria-disabled="true" href="{% url 'pro' %}"><span
                                                            style="color: rgb(254, 255, 255);">Pro</span></a>
                                                </h2>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bloc-6 END -->

    <!-- sphere1 -->
    <div class="bloc none bgc-outer-space full-width-bloc d-bloc bloc-bg-texture texture-fabric" id="sphere1">
        <div class="container bloc-md bloc-sm-lg">
            <div class="row voffset-md align-items-center voffset-clear-sm">
                <div
                    class="col-lg-2 offset-lg-2 text-lg-start align-self-center col-md-12 col-sm-12">
                    <img src="{% static 'img/logava.jpg' %}"
                        class="img-fluid img-protected rounded-circle img-logav-style mx-auto d-block img-protected animated none zoomIn mg-md"
                        alt="logava1" id="sh1" data-appear-anim-style="zoomIn" />
                </div>
                <div class="text-lg-start offset-lg-0 col-lg-5 col-md-12 col-sm-12">
                    <h5 class="tc-pastel-gray text-start mg-clear h5-style text-lg-start none" id="-">
                        Les sites sur mesure chez TView sont écrits avec le langage informatique "Python". Le design et le rendu
                        visuel sont réalisés avec des outils courants du web. Les sites ne sont pas
                        construits par un assemblage parmi différents modules et "plug-ins", ils sont développés
                        nativement et bénéficient ainsi de leur propre et unique code.<br>
                        Il n'y a pas à faire de fréquentes mises à jour pour éviter des
                        failles de sécurité souvent introduites par des technologies tierces. La sécurité d&rsquo;un
                        environnement sous Python n&rsquo;a rien de comparable avec la vulnérabilité
                        d'une grande partie des solutions clé-en-main qui sont proposées sur le
                        marché, parfois à des tarifs exorbitants qui plus est.<br>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <!-- sphere1 END -->

    <!-- sphere2 -->
    <div class="bloc none bgc-outer-space bloc-bg-texture texture-fabric full-width-bloc d-bloc" id="sphere2">
        <div class="container bloc-md bloc-sm-lg">
            <div class="row">
                <div class="offset-lg-2 col-lg-2 align-self-center col-md-12 col-sm-12">
                    <img src="{% static 'img/logava3.jpg' %}"
                        class="img-fluid img-protected rounded-circle img-logav-style mx-auto d-block img-protected animated rollIn animSpeedLazy mg-md"
                        alt="logava2" id="sh2" data-appear-anim-style="rollIn" />
                </div>
                <div class="align-self-center col-lg-5 col-md-12 col-sm-12">
                    <h5 class="text-start float-none mg-clear h5-sphere2-style none">
                        Python est un language à la fois simple, précis et fiable. Il est notamment apprécié
                        pour sa robustesse. Django est une boîte à outils dédiée au développement web qui a la
                        réputation d'être efficace et versatile. Avec une architecture
                        solide, vous profitez d'une grande autonomie, de performances optimales,
                        et d'un niveau de sécurité élevé sur le réseau tout au long de l'année.<br>
                        Des sites tels <a class="unstyled" href="https://www.instagram.com"
                            rel="nofollow noopener noreferrer" target="_blank">Instagram</a> ou <a
                            class="unstyled" href="https://eventbrite.com" rel="nofollow noopener noreferrer"
                            target="_blank">Evenbrite</a> ont été construits avec ces outils.&nbsp;
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <!-- sphere2 END -->

    <!-- sphere3 -->
    <div class="bloc none bgc-outer-space bloc-bg-texture texture-fabric d-bloc full-width-bloc" id="sphere3">
        <div class="bloc-shape-divider bloc-divider-bottom bloc-divider-flip-x">
            <svg class="svg-divider bloc-divider-b-sphere3-fill" fill-rule="evenodd" preserveAspectRatio="none"
                viewBox="0 0 1000 250">
                <path
                    d="M0,156S137.183,43.457,260,102C522.391,227.074,463.154,209.923,758,52c122.256-65.482,242,18,242,18V250H0V156Z">
                </path>
            </svg>
        </div>
        <div class="container bloc-md bloc-no-padding-lg">
            <div class="row voffset-md voffset-clear-sm">
                <div class="col-lg-2 offset-lg-2 col-md-12 col-sm-12 align-self-center text-lg-start">
                    <img src="{% static 'img/logava2.jpg' %}"
                        class="img-fluid img-protected rounded-circle img-logav-style mx-auto d-block img-protected animated flip animDelay06 mg-lg"
                        alt="logava3" id="sh3" data-appear-anim-style="flip" />
                </div>
                <div class="align-self-center col-lg-5">
                    <h5 class="text-start float-none h5-sphere3-style none mg-md">
                        Selon votre situation, vos besoins et votre implication, il est possible, dans le cadre
                        d&rsquo;un site personnel par exemple, de mettre en place un serveur simple, aux
                        fonctionnalités essentielles et optimisées, en vue de vous apporter avant tout une
                        expérience ludique plutôt qu'un malaise technique. N&rsquo;hésitez pas à poser vos
                        questions le cas échéant.<br><br>
                        <i>Si vous possédez déjà une base de données SQL, sa migration est réalisable. Pour une
                            base de type "no”, la migration reste techniquement possible. TView propose à
                            cet effet une configuration avec Mongo.</i>
                    </h5>
                    <div class="mt-5 text-center">
                        <a href="#" class="btn btn-style btn-lg btn-clean btn-phthalo-blue"
                            data-scroll-speed="5000" onclick="scrollToTarget('#bloc-6',this)">Choisir un
                            projet</a>
                    </div>
                    <h1 class="mg-md">
                        <br>
                    </h1>
                </div>
            </div>
        </div>
    </div>
<!-- sphere3 END -->
{% endblock %}