{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %} TView | {% trans 'Home' %} {% endblock %}
{% block content %}
<!-- languages choice in the header -->
<!--carousel-->
<div class="bloc none fixbg d-md-flex d-none l-bloc" style="background-image: url({% static 'img/devices.webp' %})" id="bloc-carousel">
    <div class="container bloc-no-padding">
        <div class="row voffset-clear-xs voffset-md g-0">
            <div class="offset-lg-0 col-lg-12 col">
               <div id="carousel-47952" class="carousel slide animated vanishIn mx-auto d-block carousel-fade" data-bs-ride="carousel" data-bs-interval="3000" data-appear-anim-style="vanishIn">
                    <ul class="carousel-indicators hide-indicators">
                        <li class="active" data-bs-target="#carousel-25764" data-bs-slide-to="0"
                            data-target="#carousel-47952">
                        </li>
                        <li data-bs-target="#carousel-25764" data-bs-slide-to="1"
                            data-target="#carousel-47952">
                        </li>
                        <li data-bs-target="#carousel-25764" data-bs-slide-to="2"
                            data-target="#carousel-47952">
                        </li>
                    </ul>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item img-protected active">
                            <img class="d-inline-block w-100 img-carousel-style" alt="slide 1" src="{% static 'img/siteperso.webp' %}">
                            <div class="carousel-caption carousel-caption-center">
                                <h3 class="mg-md caroutext">
                                    {% trans 'A site you own' %}
                                </h3>
                            </div>
                        </div>
                        <div class="carousel-item img-protected">
                            <img class="d-inline-block w-100 img-carousel-style" alt="slide 2"  src="{% static 'img/site_pro1200.webp' %}">
                            <div class="carousel-caption carousel-caption-center">
                                <h3 class="mg-md caroutext">
                                    {% trans 'Customized and efficient' %}
                                </h3>
                            </div>
                        </div>
                        <div class="carousel-item img-protected">
                            <img class="d-inline-block w-100 img-carousel-style" alt="slide 3" src="{% static 'img/humanitarian.webp' %}">
                            <div class="carousel-caption carousel-caption-center">
                                <h3 class="mg-md caroutext">
                                    {% trans 'Up to 50% off  for humanitarian or ecological projects' %}
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bloc none fixbg d-sm-flex d-none l-bloc" style="background-image: url({% static 'img/devices.webp' %})" id="bg-carou">
    <div class="container bloc-sm bloc-sm-sm bloc-sm-lg">
        <div class="row">
            <div class="col">
                <div class="text-lg-center " id="anchor-end-button">
				</div>
            </div>
        </div>
    </div>
</div>

    <!-- args0 -->
    <div class="bloc none bgc-2845 tc-5322 d-bloc" id="args0">
        <div class="container bloc-sm bloc-md-lg bloc-no-padding-sm">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-12 mt-sn-3 align-self-center">
                    <h4 class="text-lg-start args0 mg-sm mx-auto d-block h4-style">
                        {% trans 'Content management made easy' %}
                    </h4>
                    <p class="mg-md mx-auto d-block">
                        {% trans 'On the fly via an administrator interface' %}
                    </p>
                </div>
                <div class="col-md-4 col-12 align-self-center">
                    <h4 class="text-md-start args0 mg-sm mx-auto d-block">
                        {% trans 'Evolving to meet your needs' %}
                    </h4>
                    <p class="animDelay06 mg-md mx-auto d-block">
                        {% trans "From single page to complete environment" %}
                    </p>
                </div>
                <div class="col-md-4 col-12 align-self-center">
                    <h4 class="args0 mx-auto d-block mg-sm">
                        {% trans 'Seamless experience' %}
                    </h4>
                    <p class="mg-md mx-auto d-block">
                        {% trans 'responsive, native code, SEO-compliant' %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- args0 END -->

    <!-- bloc-services -->
    <div class="bloc none bgc-3319 d-bloc" id="bloc-services">
        <div class="bloc-shape-divider bloc-divider-top">
            <svg class="svg-divider bloc-divider-t-bloc-6-fill" fill-rule="evenodd" preserveAspectRatio="none"
                 viewBox="0 0 1000 250">
                <path style="opacity: 0.3;" d="M1000,250H0V60L500,165,1000,60V250Z"></path>
                <path style="opacity: 0.3;" d="M1000,250H0V100l500,66,500-66V250Z"></path>
                <path style="opacity: 0.3;" d="M1000,250H0V140l500,27,500-27V250Z"></path>
                <path d="M1000,250H0V190l500-23,500,23v60Z"></path>
            </svg>
        </div>
        <div class="bloc-shape-divider bloc-divider-bottom">
            <svg class="svg-divider bloc-divider-b-bloc-6-fill" fill-rule="evenodd" preserveAspectRatio="none"
                 viewBox="0 0 1000 250">
                <path style="opacity: 0.3;" d="M1000,250H0V60L500,165,1000,60V250Z"></path>
                <path style="opacity: 0.3;" d="M1000,250H0V100l500,66,500-66V250Z"></path>
                <path style="opacity: 0.3;" d="M1000,250H0V140l500,27,500-27V250Z"></path>
                <path d="M1000,250H0V190l500-23,500,23v60Z"></path>
            </svg>
        </div>
	</div>  
    <div class="container bloc-md-lg bloc-sm">
      <div class=" row noce animSpeedFast">
        <div class="text-center offset-md-2 col-md-8 offset-sm-2 col-sm-8 offset-lg-0 col-lg-4 text-md-start">
          <div>
            <div class="cd-container clearfix" data-ui="0" data-center-card="true"
                 data-align-caption="center" data-content-height="540" data-min-height="400"
                 data-max-width="400" data-nav-position="hide" data-nav-style="fade-bullets"
                 data-button-shape="capsule-outline" data-caption-position="middle"
                 data-caption-anchor="white" data-pad-value="true" data-gradient-color="None"
                 data-background-color="transparent" data-visibility="1" data-gradient-opacity=""
                 data-radius-value="2" data-hover-mode="inactive" data-hover-style="apple-snow"
                 data-transition-status="default" data-has-title="true" data-has-button="false"
                 data-has-caption="false" data-caption-height="60"
                 data-caption-background="transparent" data-tagline-margin="20"
                 data-tagline-color="#FEFFFF" data-title-spacing="10" data-title-color="#FEFFFF"
                 data-title-margin="20" data-title-background="transparent" data-desc-color="#FEFFFF"
                 data-button-color="#FEFFFF" data-button-label="" data-label-dark="0"
                 data-height-short="1" data-hover-shadow="false" data-hover-zoom="None"
                 data-shadow-size="Large" data-title-fx="Very Subtle" data-typeface="Lato"
                 data-fpo-index="0" data-fpo-lock="0" data-rule="0" data-rule-width="50"
                 data-rule-spacing="10" data-rule-weight="1" data-rule-color="#FEFFFF"
                 data-border-width="0" data-border-color="#555555" data-progress-index="0"
                 data-progress-fill="transparent" data-title-size="40" data-line-height="40"
                 data-responsive-title="0" data-med-title="level 1" data-sml-title="level 1"
                 data-title-width="100%" data-disable-hover="None" data-remove-button="false"
                 data-card-click="1" data-caption-trim="true" data-target="_self"
                 data-url="{% url 'pages:prod' %}" data-scroll-speed="1000" data-visiblility="1">
              <div class="cd-shell">
                <div class="card-designer lg">
                  <div class="cd-wrapper">


                    <div class="cd-swiper-container swiper1 static-pos">
                      <div class="cd-swiper-wrapper">
                        <div class="cd-swiper-slide" data-swiper-autoplay="6000">
                          <img class="custom-bric-img-item cover preview center"
                               src="{% static 'img/persosite.webp' %}" width="100%" height="400"
                               data-kb-effect="Push" data-filter="0" alt="perso">
                        </div>
                      </div>
                      <div class="swiper-pagination swiper-pagination1"></div>
                    </div>
                    <div class="cd-data" style="background-color: transparent;">
                      <div class="cd-content" style="background-color: transparent;">


                        <h2 class="cd-title"
                            style="font-size: 40px; margin-left: 0; margin-bottom: 20px; font-family: LatoRegular,serif;">
                          <a style="color: rgb(255, 255, 255); background-color: transparent; line-height: 40px; font-family: Lato-Regular,serif;"
                             target="_self" aria-disabled="true"
                             href="{% url 'pages:prod' %}"><span
                                                                 style="color: rgb(254, 255, 255);">Perso</span></a>
                        </h2>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
                <div class="text-center col-md-8 col-sm-8 offset-sm-2 offset-lg-0 col-lg-4 text-md-start">
                    <div>
                        <div class="cd-container clearfix" data-ui="0" data-center-card="true"
                             data-align-caption="center" data-content-height="540" data-min-height="400"
                             data-max-width="400" data-nav-position="hide" data-nav-style="fade-fraction"
                             data-button-shape="capsule-outline" data-caption-position="middle"
                             data-caption-anchor="white" data-pad-value="true" data-gradient-color="None"
                             data-background-color="transparent" data-visibility="1" data-gradient-opacity=""
                             data-radius-value="2" data-hover-mode="inactive" data-hover-style="apple-snow"
                             data-transition-status="default" data-has-title="true" data-has-button="false"
                             data-has-caption="true" data-caption-height="90"
                             data-caption-background="transparent" data-tagline-margin="20"
                             data-tagline-color="#FEFFFF" data-title-spacing="10" data-title-color="#FEFFFF"
                             data-title-margin="20" data-title-background="transparent" data-desc-color="#FEFFFF"
                             data-button-color="#FEFFFF" data-button-label="" data-label-dark="0"
                             data-height-short="1" data-hover-shadow="false" data-hover-zoom="None"
                             data-shadow-size="Large" data-title-fx="Very Subtle" data-typeface="Lato"
                             data-fpo-index="0" data-fpo-lock="0" data-rule="0" data-rule-width="50"
                             data-rule-spacing="10" data-rule-weight="1" data-rule-color="#FEFFFF"
                             data-border-width="0" data-border-color="#555555" data-progress-index="0"
                             data-progress-fill="white" data-title-size="40" data-line-height="40"
                             data-responsive-title="0" data-med-title="level 1" data-sml-title="level 1"
                             data-title-width="100%" data-disable-hover="None" data-remove-button="false"
                             data-card-click="1" data-caption-trim="false" data-target="_self"
                             data-url="{% url 'pages:prod' %}" data-scroll-speed="1000" data-visiblility="1">
                            <div class="cd-shell">
                                <div class="card-designer lg">
                                    <div class="cd-wrapper">
                                        <div class="cd-swiper-container swiper1 static-pos">
                                            <div class="cd-swiper-wrapper">
                                                <div class="cd-swiper-slide" data-swiper-autoplay="6000">
                                                    <img class="custom-bric-img-item cover preview right"
                                                         src="{% static 'img/e-commerce.webp' %}" width="100%" height="400"
                                                         data-kb-effect="none" data-filter="0" alt="shop">
                                                </div>
                                            </div>
                                            <div class="swiper-pagination swiper-pagination1"></div>
                                        </div>
                                        <div class="cd-data" style="background-color: transparent;">
                                            <div class="cd-content" style="background-color: transparent;">


                                                <h2 class="cd-title"
                                                    style="font-size: 40px; margin-left: 0; margin-bottom: 20px; font-family: Lato-Regular, serif">
                                                    <a style="color: rgb(255, 255, 255); background-color: transparent; line-height: 40px; font-family: Lato-Regular,serif;"
                                                       target="_self" aria-disabled="true"
                                                       href="{% url 'pages:prod' %}"><span
                                                            style="color: rgb(254, 255, 255);">Shop</span></a>
                                                </h2>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                        class="text-center col-md-8 offset-md-2 col-sm-8 offset-sm-2 offset-lg-0 col-lg-4 text-md-center">
                    <div>
                        <div class="cd-container clearfix" data-ui="0" data-center-card="true"
                             data-align-caption="center" data-content-height="540" data-min-height="400"
                             data-max-width="400" data-nav-position="hide" data-nav-style="fade-fraction"
                             data-button-shape="capsule-outline" data-caption-position="middle"
                             data-caption-anchor="white" data-pad-value="true" data-gradient-color="None"
                             data-background-color="transparent" data-visibility="1" data-gradient-opacity=""
                             data-radius-value="2" data-hover-mode="inactive" data-hover-style="apple-snow"
                             data-transition-status="default" data-has-title="true" data-has-button="false"
                             data-has-caption="false" data-caption-height="60"
                             data-caption-background="transparent" data-tagline-margin="20"
                             data-tagline-color="#FEFFFF" data-title-spacing="10" data-title-color="#FEFFFF"
                             data-title-margin="20" data-title-background="transparent" data-desc-color="#FEFFFF"
                             data-button-color="#FEFFFF" data-button-label="" data-label-dark="0"
                             data-height-short="1" data-hover-shadow="false" data-hover-zoom="None"
                             data-shadow-size="Large" data-title-fx="Very Subtle" data-typeface="Lato"
                             data-fpo-index="0" data-fpo-lock="0" data-rule="0" data-rule-width="50"
                             data-rule-spacing="10" data-rule-weight="1" data-rule-color="#FEFFFF"
                             data-border-width="0" data-border-color="#555555" data-progress-index="0"
                             data-progress-fill="transparent" data-title-size="40" data-line-height="40"
                             data-responsive-title="0" data-med-title="level 1" data-sml-title="level 1"
                             data-title-width="100%" data-disable-hover="None" data-remove-button="false"
                             data-card-click="1" data-caption-trim="true" data-target="_self"
                             data-url="{% url 'pages:prod' %}"
                             data-scroll-speed="1000" data-visiblility="1">
                            <div class="cd-shell">
                                <div class="card-designer lg">
                                    <div class="cd-wrapper">


                                        <div class="cd-swiper-container swiper1 static-pos">
                                            <div class="cd-swiper-wrapper">
                                                <div class="cd-swiper-slide" data-swiper-autoplay="6000">
                                                    <img class="custom-bric-img-item center cover preview"
                                                         src="{% static 'img/pro.webp' %}" width="100%" height="400"
                                                         data-kb-effect="Pan Left" data-filter="0" alt="pro">
                                                </div>
                                            </div>
                                            <div class="swiper-pagination swiper-pagination1"></div>
                                        </div>
                                        <div class="cd-data" style="background-color: transparent;">
                                            <div class="cd-content" style="background-color: transparent;">


                                                <h2 class="cd-title"
                                                    style="font-size: 40px; margin-left: 0; margin-bottom: 20px; font-family: Lato-Regular,serif;">
                                                    <a style="color: rgb(255, 255, 255); background-color: transparent; line-height: 40px; font-family: Lato-Regular,serif;"
                                                       target="_self" aria-disabled="true"
                                                       href="{% url 'pages:prod' %}"><span
                                                            style="color: rgb(254, 255, 255);">Pro</span></a>
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <section>
        <!-- bloc-media -->
        <div class="bloc none tc-4279 bgc-2845 bloc-bg-texture texture-fabric d-bloc" id="bloc-media">
            <div class="bloc-shape-divider bloc-divider-top bloc-divider-flip-y">
                <svg class="svg-divider bloc-divider-t-fill" fill-rule="evenodd" preserveAspectRatio="none"
                     viewBox="0 0 1000 250">
                    <path d="M0,125H1000V250H0V125Z"></path>
                </svg>
            </div>
            <div class="container bloc-md bloc-md-sm bloc-sm-lg">
                <div class="row voffset-md none animated animSpeedLazy animDelay02 fadeInDown"
                     data-appear-anim-style="fadeInDown">
                    <div class="col-lg-4 col-md-8 offset-md-2 offset-lg-0">
                        <img src="{% static 'img/responsive.webp' %}"
                             class="img-fluid img-protected img-responsi-style mx-auto d-block none rounded mb-4"
                             alt="optimisation">
                        <h3 class="args1 text-lg-start mx-auto d-block">
                            {% trans 'Flexibility' %}
                        </h3>
                        <p class="mg-lg float-lg-none">
                            {% trans 'Scalable and reliable, high performance website' %}
                        </p>
                    </div>
                    <div class="col-lg-4 animSpeedLazy col-md-8 offset-md-2 offset-lg-0">
                        <img src="{% static 'img/security.webp' %}"
                             class="img-fluid img-protected img-responsi-style mx-auto d-block mg-md none rounded"
                             alt="security">
                        <h3 class="args1 text-lg-start mx-auto d-block">
                            {% trans 'Safety' %}
                        </h3>
                        <p class="mg-lg float-lg-none">
                            {% trans 'Site has inherent security, no worry' %}
                        </p>
                    </div>
                    <div class="none col-md-8 offset-md-2 offset-lg-0 col-lg-4">
                        <img src="{% static 'img/customizable.webp' %}"
                             class="img-fluid img-protected img-responsi-style mx-auto d-block mg-md none rounded"
                             alt="responsive">
                        <h3 class="args1 text-lg-start mx-auto d-block">
                            {% trans 'Autonomy' %}
                        </h3>
                        <p class="float-lg-none mg-lg">
                            {% trans 'Dedicated server, hosted on its cloud.' %}
                    </div>
                </div>
            </div>
        </div>
        <!-- bloc-media END -->
    </section>
    <!-- sphere1 -->
    <div class="bloc none bgc-3319 d-bloc" id="sphere1">
        <div class="container bloc-md bloc-no-padding-lg">
            <div class="row voffset-clear-sm voffset-md">
                <div class="col-md-12 col-sm-12 align-self-center col-lg-2 offset-lg-2 text-center">
                    <img src="{% static 'img/lazyload-ph.png' %}" data-src="{% static 'img/logava.webp' %}"
                         class="img-fluid img-protected rounded-circle img-logav-style img-protected animated none zoomIn mg-md float-lg-none lazyload"
                         alt="logava1" id="sh1" data-appear-anim-style="zoomIn" width="120" height="120"/>
                </div>
                <div class="text-lg-start offset-lg-0 col-lg-5 col-md-12 col-sm-12">
                    <h5 class="tc-5322 text-start mg-clear float-lg-none text-lg-start none h5-style" id="-">
                        {% trans "The robustness of a Python environment is nothing like the underlying vulnerability" %}
                        {% trans "of many of the turnkey solutions that rely on a patchwork of modules and plugins." %} 
                        {% trans "No ongoing security updates means peace of mind and long-term savings." %}
                        <br><br>
                    </h5>
                </div>
                <div class="offset-lg-2 col-lg-2 col-md-12 col-sm-12 align-self-center text-lg-center">
                    <img src="{% static 'img/lazyload-ph.png' %}" data-src="{% static 'img/logava3.webp' %}"
                         class="img-fluid img-protected rounded-circle img-logav-style img-protected animated rollIn animSpeedLazy mg-md mx-auto d-block lazyload"
                         alt="logava2" id="sh2" data-appear-anim-style="rollIn" width="120" height="120"/>
                </div>
                <div class="align-self-center col-lg-5 col-md-12 col-sm-12">
                    <h5 class="text-start float-none mg-clear none tc-5322 h5-style">
                        {% trans "Python is a simple, precise and reliable language. It is particularly appreciated for its robustness." %}
                        {% trans "Django is a toolbox dedicated to web development renowned for its efficiency and versatility." %}<br>
                        {% trans "Starting with a solid architecture with concise and organized code," %} 
                        {% trans "coupled with 'best practices', is essential for natural referencing." %}<br/>
                        {% trans "Sites such as" %} <a class="unstyled" href="https://www.instagram.com"
                                                       rel="nofollow noopener noreferrer"
                                                       target="_blank">Instagram </a>{% trans " or " %} <a
                            class="unstyled" href="https://eventbrite.com"
                            rel="nofollow noopener noreferrer" target="_blank">Evenbrite</a>
                        {% trans "have been built using these tools." %}<br><br/>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <!-- sphere1 END -->

    <!-- sphere3 -->
    <div class="bloc none bgc-3319 d-bloc" id="sphere3">
        <div class="video-bg-container">
            <video class="bloc-video lazyload" preload="auto" loop="loop" muted="muted" playsinline="playsinline"
                   autoplay="autoplay" data-src="{% static 'vid/tview_waves.mp4' %}">
                <source src="{% static 'img/lazyload-ph.png' %}" data-src="{% static 'vid/tview_waves.mp4' %}"
                        type="video/mp4"/>
            </video>
        </div>
        <div class="bloc-shape-divider bloc-divider-bottom bloc-divider-flip-x">
            <svg class="svg-divider bloc-divider-b-sphere3-fill" fill-rule="evenodd" preserveAspectRatio="none"
                 viewBox="0 0 1000 250">
                <path d="M0,156S137.183,43.457,260,102C522.391,227.074,463.154,209.923,758,52c122.256-65.482,242,18,242,18V250H0V156Z"></path>
            </svg>
        </div>
        <div class="container bloc-md bloc-no-padding-lg">
            <div class="row voffset-clear-sm voffset">
                <div class="col-lg-2 offset-lg-2 col-md-12 col-sm-12 text-lg-center align-self-end">
                    <img src="{% static 'img/lazyload-ph.png' %}" data-src="{% static 'img/logava2.webp' %}"
                         class="img-fluid img-protected rounded-circle img-logav-style img-protected animated flip animDelay06 mg-lg mx-auto d-block lazyload"
                         alt="logava3" id="sh3" data-appear-anim-style="flip" width="120" height="120"/>
                </div>
                <div class="col-lg-5 offset-lg-0 col-md-12 col-sm-12">
                    <h5 class="text-start float-none none mg-md tc-5322 h5-style">
                        {% trans "So whether you're looking for a user-friendly website, an e-commerce solution or a feature-rich application, " %}
                        {% trans "Tview is able to provide the ressources you need to succeed online." %}<br><br>
                    </h5>
                    <div class="text-center ">
                        <a href="#bloc-services" class="btn btn-style btn-c-5984 btn-clean" data-scroll-speed="1000"
                           onclick="scrollTo('bloc-services',this)">Ok</a>
                    </div>
                    <h1 class="mg-md">
                        <br>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <!-- sphere3 END -->
{% endblock content %}









