{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- infos -->
    <div class="bloc none bgc-outer-space infos-text" id="infos">
        <div class="container bloc-md">
            <div class="row">
                <div class="col-12">
                    <h3 class="mg-md text-lg-center mx-auto d-block tc-white">
                        Tarifs
                    </h3>
                    <p class="text-lg-center mx-auto d-block">
                        Paiement unique ou mensualités. Vous êtes propriétaire de votre site.<br>Les tarifs comprennent
                        le nom de domaine, la mise en place et le déploiement de votre serveur sur internet.<br>Des
                        frais d&rsquo;hébergement sont applicables chaque année qui correspondent moyennement à 10% du
                        prix d&rsquo;achat.&nbsp;<br>(C&rsquo;est en fonction des ressources nécéssaires pour le bon
                        fonctionnement de votre site).<br>
                    </p>
                </div>
                <div class="col-12">
                    <h3 class="mg-md text-lg-center mx-auto d-block tc-white">
                        Assistance et maintenance
                    </h3>
                    <p class="text-lg-center">
                        &nbsp;L&rsquo;assistance est gratuite la première année, selon l'urgence et votre formule.
                        Prenez contact pour plus de détails.<br>Dans les autres cas, elle est facturée tout comme la
                        maintenance.<br>Notez que l&rsquo;assistance après une année sera devenue bien moins nécéssaire,
                        et la maintenance ponctuelle.<br>
                    </p>
                </div>
                <div class="col-12">
                    <h3 class="mg-md mx-auto d-block text-lg-center tc-white">
                        Modifications de contenu
                    </h3>
                    <p class="text-lg-center mx-auto d-block">
                        La plupart des formules vous accordent la possibilité de faire vos propres modifications de
                        manière simple.<br>Vous pouvez y accéder directement depuis votre site web ou par l&rsquo;intermédiaire
                        d'une interface administrateur.&nbsp;<br>&nbsp;ette dernière permet aussi de gérer les droits
                        accordés aux membres, utilisateurs, staff, etc.<br>
                    </p>
                </div>
                <div class="col-12">
                    <h3 class="mg-md mx-auto d-block text-lg-center tc-white">
                        Options
                    </h3>
                    <p class="text-lg-center mx-auto d-block">
                        Toute formule peut être enrichie de diverses applications et modules, établis sur devis. <br>La
                        liste mentionnée sur chaque formule est purement donnée à titre indicatif.<br>
                    </p>
                </div>
                <div class="col-12">
                    <h3 class="mg-md mx-auto d-block text-lg-center tc-white">
                        Qu&rsquo;est-ce qu&rsquo;un site «&nbsp;codé&nbsp;» sur mesure?
                    </h3>
                    <p class="text-lg-center mx-auto d-block">
                        Un site codé sur mesure chez TView est un site indépendant construit pour la partie serveur à l&rsquo;aide
                        du langage&nbsp;<a href="https://fr.wikipedia.org/wiki/Python_(langage)"
                                           target="_blank">Python</a>&nbsp;et du <i>framework</i>&nbsp;<a
                            href="https://fr.wikipedia.org/wiki/Django_(framework)" target="_blank">Django</a>.<br>Cela
                        vous confère une autonomie totale et une évolutivité large. <br>Le site n&rsquo;est pas fait à
                        base de 'plug-ins&rsquo; et ne partage pas de ressources avec d&rsquo;autres sites web.<br/>La
                        sécurité en est d&rsquo;autant renforcée et les performances optimisées
                    </p>
                </div>
                <div class="col-12">
                    <h3 class="mg-md mx-auto d-block text-lg-center tc-white">
                        Quelles sont les autres formules?<br>
                    </h3>
                    <p class="text-lg-center">
                        A l&rsquo;exception de la catégorie “pro”, tous les sites peuvent être construits sur une
                        architecture classique en PHP<br>avec un <i>framework</i>&nbsp;de type Wordpress
                    </p>
                </div>
                <div class="col-12">
                    <h3 class="mg-md mx-auto d-block text-lg-center tc-white">
                        Le mythe 'SEO'
                    </h3>
                    <p class="text-lg-center mx-auto d-block" id="i">
                        Si vous êtes dans l&rsquo;objectif d&rsquo;acquérir votre site web, vous avez probablement
                        entendu parler de <a href="https://www.seo.fr/definition/seo-definition" target="_blank">SEO</a>
                        et vous en êtes peut-être déjà soucieux.<br/>Le référencement web est abordé comme un vaste
                        sujet qui demande des compétences particulières pour être efficace et qui peuvent s'avérer
                        couteuses.<br/>Du moins, c&rsquo;est comme ça qu&rsquo;on vous le présente la plupart du
                        temps.<br>Etre bien référencé est un point important pour la visibilité de votre site et vous
                        auriez raison de vous en préoccuper.<br/>Cependant, il y a beaucoup de mythes autour de ce sujet
                        car ll n&rsquo;existe tout simplement aucune méthode ‘miracle&rsquo; pour être bien
                        référencé.<br>Les algorithmes qui évaluent les contenus web sont aujourd&rsquo;hui très
                        intelligents et toujours en perpétuel développement.<br/>Vous ne les bernerez pas en
                        surchargeant vos contenus de scripts, de plugins ou toutes sortes de combines, bien au
                        contraire.<br/>En revanche, un code bien écrit et concis qui respecte les bonnes pratiques
                        couplé à un contenu pertinent au rendu efficace<br>et optimisé ainsi qu&rsquo;un hébergement
                        performant vous apporteront les qualités nécessaires pour un bon référencement.<br><br> Notez
                        que les robots indexeurs évaluent la façon dont le site se charge de l&rsquo;expérience
                        utilisateur. Ni plus, ni moins.<br>Il est donc futile de dépenser des sommes conséquentes qui se
                        justifieraient par des pratiques fondées sur des hypothèses.<br>
                    </p>
                </div>
                <div class="col-12">
                    <h3 class="mg-md text-lg-center tc-white">
                        Tarifs spéciaux pour sites non commerciaux
                    </h3>
                    <p class="text-lg-center mx-auto d-block">
                        Cela fait partie de l&rsquo;esprit TView. Nous sommes dans une époque où de gros sites internet
                        sont devenus des aspirateurs de données qui analysent&nbsp;<br>tous vos faits et gestes&nbsp;<a
                            class="ltc-azure" href="https://www.cnil.fr/fr/definition/big-data" target="_blank">(big
                        data)</a>&nbsp;afin s&rsquo;en servir pour mieux satisfaire leurs annonceurs. SI la technologie
                        est innovante, la dérive peut être dangereuse.&nbsp;<br>Nous nous devons de préserver la qualité
                        du web en favorisant les initiatives humanitaires et écologiques, et par là même, celle de nos
                        vies et de la planète.<br>
                    </p>
                </div>
                <div class="col-12">
                    <h3 class="mg-md text-lg-center tc-white">
                        <br>Informations complémentaires
                    </h3>
                    <p class="text-lg-center mx-auto d-block">
                        Titre professionnel web de niveau 5.<br>Exemple de performances d'un site en ligne en cours de
                        développement et dans sa version mobile: <a href="https://del.dog/performances"
                                                                    rel="nofollow noopener noreferrer" target="_blank">[voir]</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- infos END -->
{% endblock %}