	<div class="bloc l-bloc" id="">
			<div class="container bloc-sm bloc-no-padding-lg">
				<div class="row">
					<div class="text-center col-md-8 offset-md-2">
						<nav class="navbar row flex-column navbar-expand-md row-style navbar-dark">
							<div class="container-fluid flex-column">
								<button id="nav-toggle" type="button"
									class="ui-navbar-toggler navbar-toggler border-0 p-0" aria-expanded="false"
									aria-label="Toggle navigation" data-bs-toggle="collapse"
									data-bs-target=".navbar-25178">
									<span class="navbar-toggler-icon"></span>
								</button>
								<div class="collapse navbar-collapse navbar-25178 special-dropdown-nav">
									<ul
										class="site-navigation nav navbar-nav mx-auto justify-content-center active">
										<li class="nav-item">
											<a href="{% url 'home' %}" class="nav-link active ltc-pastel-gray">TView</a>
										</li>
										<li class="nav-item">
											<a href="{% url 'perso' %}" class="nav-link ltc-pastel-gray">Perso</a>
										</li>
										<li class="nav-item">
											<a href="{% url 'boutique' %}" class="nav-link ltc-pastel-gray">Boutique</a>
										</li>
										<li class="nav-item">
											<a href="{% url 'pro' %}" class="nav-link ltc-pastel-gray">Pro</a>
										</li>
										<li class="nav-item">
											<a href="{% url 'infos' %}"  class="nav-link ltc-pastel-gray">Infos</a>
										</li>
										<li class="nav-item">
											<a href="{% url 'contact:contact' %}" class="nav-link ltc-pastel-gray">Contact</a>
										</li>
									</ul>
								</div>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>