{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}TView | Production - services{% endblock %}
{% block content %}
<!-- bloc-perso-shop -->
  
<div class="bloc l-bloc" id="bloc-perso-shop">
	<div class="bloc-shape-divider bloc-divider-bottom bloc-divider-flip-y">
		<svg class="svg-divider bloc-divider-b-bloc-perso-fill" fill-rule="evenodd" preserveAspectRatio="none" viewBox="0 0 1000 250"><path style="opacity:0.5" d="M1000,0V250H0v-1Z"></path><path d="M1000,60V250H0v-1Z"></path></svg>
	</div>
	<div class="container bloc-md bloc-md-lg">
			<div class="row">
				<div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 text-center offset-lg-0 text-lg-center mt-lg-5">
					<div class="card">
						<div class="card-header bgc-1000">
							<h4 class="mg-clear text-center tc-4279 text-lg-center">
								Perso
							</h4>
						</div>
						<div class="card-body">
							<h5 class="text-lg-center tc-5984 text-center mx-auto d-block">
								Portfolio<br><br>{% trans 'Contact form' %}<br><br>Blog<br><br>CMS
							</h5>
						</div>
						<div class="card-footer bgc-1000">
							<h4 class="mg-clear text-center tc-4279">
								{% trans '' %}
							</h4>
						</div>
					</div>
				</div>
				<div class="text-lg-center text-center pt-5 col-sm-10 offset-sm-1 offset-lg-0 col-md-8 col-lg-6 pt-lg-5 offset-md-2">
					<div class="card">
						<div class="card-header bgc-6402">
							<h3 class="mg-clear mx-auto d-block tc-4279">
								{% trans 'Online store' %}<br>
							</h3>
						</div>
						<div class="card-body">
							<h5 class="tc-5984 mx-auto d-block text-lg-center">
								{% trans 'Database' %}<br><br>Administration<br><br>{% trans 'Payments gateway' %}<br><br>{% trans 'Safety and performance' %}
							</h5>
						</div>
						<div class="card-footer bgc-6402">
							<h4 class="mg-clear mx-auto d-block text-lg-center tc-4279">
								{% trans '' %}
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
<!-- bloc-perso-shop END -->

<!-- bloc-pro -->
<div class="bloc l-bloc none" id="bloc-pro">
	<div class="bloc-shape-divider bloc-divider-top">
		<svg class="svg-divider bloc-divider-t-style" fill-rule="evenodd" preserveAspectRatio="none" viewBox="0 0 1000 250"><path style="opacity: 0.3;" d="M1000,250H0V60L500,165,1000,60V250Z"></path><path style="opacity: 0.3;" d="M1000,250H0V100l500,66,500-66V250Z"></path><path style="opacity: 0.3;" d="M1000,250H0V140l500,27,500-27V250Z"></path><path d="M1000,250H0V190l500-23,500,23v60Z"></path></svg>
	</div>
	<div class="container bloc-no-padding bloc-no-padding-lg">
			<div class="row mt-md-0 mb-md-5">
				<div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-start text-lg-center">
					<div class="card">
						<div class="card-header bgc-2861">
							<h4 class="mg-clear text-lg-center text-center tc-4279">
								Pro
							</h4>
						</div>
						<div class="card-body">
							<h5 class="tc-5984 text-lg-center text-center">
								Internet / intranet<br><br>{% trans 'Various apps' %}<br><br>API<br><br>Web3
							</h5>
						</div>
						<div class="card-footer bgc-2861">
							<h4 class="mg-clear text-lg-center text-center tc-4279">
								{% trans '' %}
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
<!-- bloc-pro END -->
{% endblock %}
