{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- shop -->
    <div class="bloc none bg-e-commerce" id="shop">
        <div class="container bloc-xl bloc-lg-lg">
            <div class="row">
                <div class="col-md-4 col-lg-6 offset-md-1 offset-lg-0">
                    <div class="card sugcard">
                        <div class="card-header bgc-blue-ryb">
                            <h3 class="mg-clear text-center h3-color tc-white">
                                Standard
                            </h3>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>
                                    <h4 class="text-lg-center mx-auto d-block h4-style mg-clear">
                                        <br>Boutique en ligne
                                    </h4>
                                    <p class="text-center">
                                        <br>
                                    </p>
                                </li>
                                <li>
                                    <h4 class="text-center h4-style">
                                        Base de données produits / clients<br>
                                    </h4>
                                </li>
                                <li>
                                    <p>
                                        <br>
                                    </p>
                                    <h4 class="text-center h4-style">
                                        Administration<br>
                                    </h4>
                                    <p>
                                        <br>
                                    </p>
                                </li>
                                <li>
                                    <h4 class="text-center h4-style">
                                        Paiements multiples<br>
                                    </h4>
                                    <p>
                                        <br>
                                    </p>
                                </li>
                                <li>
                                    <h4 class="text-center h4-style">
                                        Assistance<br>
                                    </h4>
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'contact' %}" class="btn btn-lg btn-block btn-blue-ryb btn-rd">Sur devis</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-6 offset-md-1 offset-lg-0">
                    <div class="card sugcard">
                        <div class="card-header bgc-ou-crimson-red">
                            <h3 class="mg-clear text-center tc-white">
                                Pro
                            </h3>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>
                                    <h4 class="text-lg-center mx-auto d-block h4-style mg-clear">
                                        <br><strong>Standard</strong>
                                    </h4>
                                    <p class="text-center">
                                        <br>
                                    </p>
                                </li>
                                <li>
                                    <h4 class="text-center h4-style">
                                        100% Python, sur mesure<br>
                                    </h4>
                                </li>
                                <li>
                                    <p>
                                        <br>
                                    </p>
                                    <h4 class="text-center h4-style">
                                        Administration complete (staff, admins, …)<br>
                                    </h4>
                                    <p>
                                        <br>
                                    </p>
                                </li>
                                <li>
                                    <h4 class="text-center h4-style">
                                        Sécurité et performances optimisées<br>
                                    </h4>
                                    <p>
                                        <br>
                                    </p>
                                </li>
                                <li>
                                    <h4 class="text-center h4-style">
                                        Assistance prioritaire<br>
                                    </h4>
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'contact' %}" class="btn btn-lg btn-block btn-blue-ryb btn-rd">Sur devis</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- shop END -->

{% endblock %}