{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- you -->
    <div class="bloc bg-you none" id="you">
        <div class="container bloc-xl bloc-lg-lg">
            <div class="row">
                <div class="col-md-4">
                    <div class="card sugcard">
                        <div class="card-header bgc-pakistan-green">
                            <h3 class="mg-clear text-center tc-white">
                                Basic
                            </h3>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>
                                    <p class="text-center">
                                    </p>
                                    <h4 class="text-lg-center h4-style mg-clear mx-auto d-block">
                                        Une page
                                    </h4>
                                    <p class="text-center">
                                        <br>
                                    </p>
                                </li>
                                <li>
                                    <p class="text-center">
                                    </p>
                                    <h4 class="text-center h4-style">
                                        Un formulaire de contact
                                    </h4>
                                    <p class="text-center">
                                        <br>
                                    </p>
                                </li>
                                <li>
                                    <p class="text-center">
                                    </p>
                                    <h4 class="text-center h4-style">
                                        Charte graphique personnalisée
                                    </h4>
                                    <p class="text-center">
                                        <br>
                                    </p>
                                </li>
                                <li>
                                    <p class="text-center">
                                    </p>
                                    <h4 class="text-center h4-style">
                                        Adaptée tout support &nbsp;(responsive)
                                    </h4>
                                    <p>
                                        <br>
                                    </p>
                                    <h4 class="mx-auto d-block text-lg-center h4-style">
                                        Assistance (limitée)
                                    </h4>
                                    <h4 class="text-center">
                                    </h4>
                                </li>
                                <li>
                                    <p class="text-center">
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'contact' %}" class="btn btn-lg btn-block btn-blue-ryb btn-rd">à partir de
                                350€<br></a>
                        </div>
                    </div>
                    <p class="text-center">
                        <br>
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="card sugcard">
                        <div class="card-header bgc-blue-ryb">
                            <h3 class="mg-clear text-center tc-white">
                                Standard
                            </h3>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>
                                    <p class="text-center">
                                    </p>
                                    <h4 class="text-lg-center h4-style mg-clear">
                                        <strong>Basic</strong>
                                    </h4>
                                    <p class="text-center">
                                        <br>
                                    </p>
                                </li>
                                <li>
                                    <p class="text-center">
                                    </p>
                                    <h4 class="text-center h4-style">
                                        Site type vitrine / portfolio
                                    </h4>
                                    <p class="text-center">
                                        <br>
                                    </p>
                                </li>
                                <li>
                                    <p class="text-center">
                                    </p>
                                    <h4 class="text-center h4-style">
                                        Edition de contenu
                                    </h4>
                                    <p class="text-center">
                                        <br>
                                    </p>
                                </li>
                                <li>
                                    <p class="text-center">
                                    </p>
                                    <h4 class="text-center h4-style">
                                        blog
                                    </h4>
                                    <p>
                                        <br>
                                    </p>
                                    <h4 class="mx-auto d-block text-lg-center h4-style">
                                        Assistance&nbsp;
                                    </h4>
                                    <h4 class="text-center">
                                    </h4>
                                </li>
                                <li>
                                    <p class="text-center">
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'contact' %}" class="btn btn-lg btn-block btn-blue-ryb btn-rd">Sur devis<br></a>
                        </div>
                    </div>
                    <p class="text-center">
                        <br>
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="card sugcard">
                        <div class="card-header bgc-ou-crimson-red">
                            <h3 class="mg-clear text-center tc-white">
                                Pro<span class="text-span-color"></span>
                            </h3>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>
                                    <p class="text-center">
                                    </p>
                                    <h4 class="text-lg-center h4-style mg-clear">
                                        <strong>Standard</strong>
                                    </h4>
                                    <p class="text-center">
                                        <br>
                                    </p>
                                </li>
                                <li>
                                    <p class="text-center">
                                    </p>
                                    <h4 class="text-center h4-style">
                                        100% Python, sur mesure
                                    </h4>
                                    <p class="text-center">
                                        <br>
                                    </p>
                                </li>
                                <li>
                                    <p class="text-center">
                                    </p>
                                    <h4 class="text-center h4-style">
                                        Base de données
                                    </h4>
                                    <p class="text-center">
                                        <br>
                                    </p>
                                </li>
                                <li>
                                    <p class="text-center">
                                    </p>
                                    <h4 class="text-center h4-style">
                                        Interactif
                                    </h4>
                                    <p>
                                        <br>
                                    </p>
                                    <h4 class="mx-auto d-block text-lg-center h4-style">
                                        Assistance prioritaire
                                    </h4>
                                    <h4 class="text-center">
                                    </h4>
                                </li>
                                <li>
                                    <p class="text-center">
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'contact' %}" class="btn btn-lg btn-block btn-blue-ryb btn-rd">Sur devis<br></a>
                        </div>
                    </div>
                    <p class="text-center">
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- you END -->

{% endblock %}